@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

$my-red: #E2001A;
$box-width: 528px;

strong {
    font-weight: 700;
}

h1 {
    font-family: 'Poppins';
    font-size: 24px;
    color: #000000;
    text-align: center;
}
button {
    margin: auto;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 18px;
    padding: 0 0 0 15px;
}

.choice {
    margin-bottom: 50px;
    button {
        color: $my-red;
        background-color: white;
        border: 1px solid $my-red;

        width: 234px;
        height: 69px;
        margin: 0;
    
        text-align: left;
        transition-property: color, border;
        transition: 0.3s;
        
        &.active {
            cursor: pointer;
            color: #C7C7C7;
            background-color:  #F8F8F8;
            border: 1px solid #DEDEDE;
        }

        &:first-child {
            border-radius: 6px 0px 0px 6px;
        }
        
        &:last-child {
            border-radius: 0px 6px 6px 0px;
        }
    }

}

.cta {
    cursor: pointer;
    width: 283px;
    height: 53px;
    display: flex;
    align-items: center;
    color: white;
    background-color: $my-red;
    border: none;
    border-radius: 6px;

    & > svg {
        position: absolute;
        margin-left: 220px;
    }
}

.login {
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins';
    font-size: 16px;
    color: white;

    background-color:  #F8F8F8;

    &__box {
        width: $box-width;
        height: 287px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 6px;
        color: $my-red;
        
        &-content {
            display: block;
        }
    }

    &__link {
        width: $box-width;
        padding-top: 20px;
        display: block;
        & > a {
           
            color: $my-red;
            text-decoration: none;
            & > svg {
                margin-right: 10px;
            }
        }
    }
}