@import "./resets";
@import "./variables";

@mixin font() {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

body,
::before,
::after {
  color: $text-color;
  font-family: $font-family;
  @include font();
}

html {
  scroll-behavior: smooth;
}

a {
  color: $link-btn-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $hover-color;
  }
}

.container {
  margin: auto;
  padding: 2rem;
  width: 100%;
}
