@import "../variables";
@import "../resets";

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 30rem;
}

.user__name {
  text-align: center;
  font-weight: map-get($font-weights, bold);
}

.diagnose__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 60rem;
}

.box {
  @include flexCenter(row);
  justify-content: space-between;
  border: 0.06rem solid $border-color;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  .box__info {
    font-weight: map-get($font-weights, bold);
  }
}

.patient__message {
  text-align: center;
}
